{% extends "index.html" %}
{% load static %}


{% block body %}

<body>
      <div class="container">
          <div class="support-section">
              <h1>Faq</h1>
              <p>Sistema de suporte ao usuario</p>
              <a href="https://example.com/meu-suporte" class="support-link">Iniciar sessão no Meu suporte &gt;</a>
          </div>
          <div class="support-section">
              <h1>AppleCare Protection Plan</h1>
              <p>Obtenha mais opções de serviço de hardware e suporte técnico especializado da Apple.</p>
              <a href="https://i.pinimg.com/564x/c1/31/89/c13189a154da6b8e798185b48776970a.jpg" class="support-link">Saiba mais &gt;</a>
              <img src="https://i.pinimg.com/564x/c1/31/89/c13189a154da6b8e798185b48776970a.jpg" alt="AppleCare Protection Plan Image" class="support-image">
          </div>
      </div>
  </body>

{% endblock %}