body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #ffffff;
  }
  
  .container {
      width: 90%;
      margin: 0 auto;
  }
  
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
  }
  
  nav ul {
      list-style-type: none;
      padding: 0;
      display: flex;
  }
  
  nav ul li {
      margin-right: 20px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #ff0000;
      font-weight: bold;
  }
  
  .reserve-btn {
      background-color: #ff0000;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  

  
  .overview h1 {
      margin: 0;
  }
  
  .rating {
      display: flex;
      align-items: center;
      margin: 20px 0;
  }
  
  .rating .vip-access {
      background-color: gold;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
  }
  
  .rating .stars {
      margin-right: 10px;
  }
  
  .rating .score {
      color: green;
      font-weight: bold;
      margin-right: 10px;
  }
  
  .rating a {
      text-decoration: none;
      color: #007BFF;
  }
  
  .property-info h2 {
      margin-top: 20px;
  }
  
  .property-info p {
      margin: 10px 0;
  }
  
  .amenities {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
  }
  
  .amenities li {
      background-color: #f1f1f1;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 5px;
  }
  
  
  
  .map {
      display: flex;
      align-items: center;
  }
  
  .map img {
      border-radius: 55px;
      width: 100px;
      height: 100px;
      margin-right: 10px;
  }
  
  .map address {
      font-style: normal;
  }
  
  .map a {
      display: block;
      text-decoration: none;
      color: #007BFF;
      margin-top: 5px;
  }
  
  .nearby {
      list-style-type: none;
      padding: 0;
  }
  
  .nearby li {
      margin: 20px 0;
  }
  
  .show-more {
      display: block;
      text-decoration: none;
      color: #007BFF;
      margin-top: 10px;
      font-weight: bold;
  }
  
